body {
	background-color: rgb(225, 255, 255);
	color: blue;
	font-family: arial;
	margin: 100px;


}
h2 {
	color: white;
    font-family: Helvetica;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 30px;
    
}
a {
	text-decoration: underline;
	color: blue;
}
a:hover {color: yellow; font-weight: bold; font-size: 24px;}

h3:hover {color: red;}

h3{color: royalblue;
	padding-bottom: 20px;
	font-size: 20px;
}

.img-circle { 
border-radius: 50%;
width: 120px;
align-content: center;
margin-bottom: -70px;
margin-top: -10px;

}

.btn-pink {
background-color: blue;
color: white;
padding: 15px 20px;
border-radius: 5px;
margin: 10px auto;
}	
	
.list-inline {
list-style: none;
padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 30px;
}

.list-inline i {
	font-size: 50px;
	color: red;
}

.trois_box{
	display: flex;
	flex-wrap: wrap;
	margin: 80px auto;
	margin-top: -130px;

}




.box1 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 80px blue;
	padding : 30px;
	margin: auto;
	background: white;

}

.box1 p {
	padding-top: 40px;
	font-size: 20px;

}

.top {
	border-radius: 5px;
	box-shadow: 3px 3px 80px blue;
	padding : 0px 0px 0px 0px;
	margin: 2px auto;
	background: rgb(0, 169, 255);

}

.top h2 {
	padding-top: 25px;
	padding-bottom: 0px;
}



.box4 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	background: white;
	width: 210px;
	position: relative;
}

.box4 li{
	text-align: left;
}

.box8 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	background: white;
	width: 370px;
	margin-right: 35px;

}
.box8 li{
	text-align: left;
}

.box9 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	background: white;
	width: 370px;
	position: relative;
}

.box9 li{
	text-align: left;
}

.box3 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	margin-left: 35px;
	margin-right: 35px;
	background: white;
	width: 210px;
	position: relative;
}

.box3 li{
	text-align: left;
}


.box2 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 2px 2px 6px blue;
	margin: 80px auto;
	background: rgb(0, 169, 255);

	
	
}
.box2 p{
	font-size: 30px;
	color: white;

}

.box7 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 2px 2px 6px blue;
	margin: 80px auto;
	background: rgb(0, 169, 255);
	margin-top: -80px;
	
}
.box7 p{
	font-size: 30px;
	color: white;

}

.box5 {
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	background: white;
	margin-top: -50px;
	
}

.box6 {
	border-top: 2px solidblack;
	border-radius: 5px;
	border-top: 2px solidblack;
	border-radius: 5px;
	box-shadow: 3px 3px 50px blue;
	padding : 30px;
	margin: 80px auto;
	background: white;
	
}

.box6 p{
	font-size: 20px;
}




.container {
	border-top: 2px solidblack;
	margin: 50px auto;
	width: 900px;
	padding : 30px;
	text-align: center;

}



}

@media (max-width: 500px) {
	.container{
		background-color: red;
		width: 300px;
	}

}


@media (max-width: 760px) {
	.container{
		width: 600px;

}





